{%  extends 'warehouse/main.html' %}
{% load static %}
{% block content %}
<br>
<div class="row mid">

    <div class="col-lg-8 box-element">
                {% if request.user.is_staff %}
                    {% if shipping.order.delivery == True %}
                        <a  class="btn btn-outline-dark" href="{% url 'order_view_delivery' %}">&#x2190; Back</a>
                    {% else %}
                        <a  class="btn btn-outline-dark" href="{% url 'order_view' %}">&#x2190; Back</a>
                    {% endif %}
                {% else %}
                    <a  class="btn btn-outline-dark" href="{% url 'cus_profile' %}">&#x2190; Back</a>
                {% endif %}

                <hr>
                <h4>Customer:  {{ shipping.customer.name }}</h4>
				<hr>
        <div class="row">
                <div class="col-lg-4">
                    <h6>Order Summary</h6>
                    <h6>Items:   {{ shipping.order.get_cart_items }} </h6>
				    <h6>Total:  ৳  {{ shipping.order.get_cart_total }} </h6>
                </div>
                <div class="col-lg-8">
                    <br>
                    Delivery Address:  {{shipping.address}} , {{shipping.city}} ,
                                 {{shipping.district}}, {{shipping.zipcode}}.
                </div>
        </div>

				<hr>

                {% for item in orderlist %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{ item.product.image.url }}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>৳{{ item.product.price|floatformat:2 }}</p></div>
					<div style="flex:1"><p>x{{ item.quantity }}</p></div>
				</div>
				{% endfor %}


                {% if shipping.order.delivery != True %}
                 <a class="btn btn-sm btn-info" href="{% url 'order_delivery' shipping.order.id %}">Delivary</a>
                {% endif %}



    </div>
</div>



{% endblock %}