{%  extends 'warehouse/main.html' %}
{% load static %}
{% block content %}
<br>
{% include 'warehouse/menu(emp).html' %}

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <div>
                    <h2>Previous Order List</h2>
                </div>
            </div>
            <br>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Customer</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Total</th>
                        <th>View</th>
                    </tr>

                    {% for shipping in shippings %}
                            <tr>
                                <td>{{ shipping.customer.name }}</td>
                                <td>{{ shipping.address }}</td>
                                 <td>{{ shipping.city }}</td>
                                <td>{{ shipping.order.get_cart_total }}</td>
                                <td><a class="btn btn-sm btn-info" href="{% url 'order_details' shipping.id %}">View</a></td>
                            </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>



{% endblock %}