{%  extends 'warehouse/main.html' %}
{% load static %}
{% block content %}
<br>
 <div class="row">
     <div class="col-md">
         <div class="card card-body">
             <div class="row">
                 <div class="col-lg-1"><a class="btn btn-outline-dark" href="{% url 'order_view' %}">&#x2190; Back </a></div>
                 <div class="col-lg-4"><h4><b>  ORDER DATE : {{ date }} </b></h4></div>
             </div>
         </div>
            <br>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Customer</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Total</th>
                        <th>View</th>
                    </tr>

                    {% for shipping in shippings %}
                            <tr>
                                <td>{{ shipping.customer.name }}</td>
                                <td>{{ shipping.address }}</td>
                                 <td>{{ shipping.city }}</td>
                                <td>{{ shipping.order.get_cart_total }}</td>
                                <td><a class="btn btn-sm btn-info" href="{% url 'order_details' shipping.id %}">View</a></td>
                            </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3"><b>Total Order: {{ total_items }} </b></td>
                        <td colspan="2"><b>Total: {{ total }} </b></td>
                    </tr>
                </table>
            </div>
     </div>
 </div>

{% endblock %}