<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

{% if request.user.is_staff %}
    <a  class="btn btn-outline-dark" href="{% url 'admin_profile' %}">&#x2190; Back</a>
{% else %}
    <a  class="btn btn-outline-dark" href="{% url 'cus_profile' %}">&#x2190; Back</a>
{% endif %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Save changes</button>
</form>


{% for message in messages %}
    {% if "change_pass" in message.tags %}
        <br><p> {{message}} </p>
    {%endif%}
{% endfor %}