{% extends 'warehouse/main.html' %}
{% load static %}
{% block content %}

    <div class="row mid">
        <div class="col-lg-6">
            <div>
                <img class="item-view" src="{{ product.imageURL }}">
            </div>
        </div>

	    <div  class="col-lg-4 box-element">
            <a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Back</a>
            <hr>
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <hr>

            <form method="POST" action="{% url 'view_item' product.id %}">
                {% csrf_token %}
                <!--<input min="25" value=25 type="number" name="quantity"> <br><br>-->
                <select name="quantity">
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                </select>
                <input class="btn btn-dark" type="submit" value="Add to Cart">
            </form>
            <hr>
            <h2>Price: ৳{{ product.price }}</h2>
	    </div>
    </div>



{% endblock content %}